.market_table_header{
    /* float:left;margin-left:5px; */
    background: linear-gradient(to right, #0bcd2a 30.26%, #bb1010 60.59%, #c9bc0c 5.59%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip:text;
}
.my_class{
    margin: 0 10px;
}

select#frm-whatever option {
    background-color: rgb(30 31 37) !important;
    text-align: center !important;
    border-radius: 5px !important;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-page-number {
    font-weight: bold;
    font-size: 18px;
    margin: 8px 42px;
  } 

.card_style{
    border-radius: 0.375rem;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.5)
}